@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  line-height: 200%;
  margin: 80px auto 0 auto;
  color: #222;
  font-size: 95%
}
main {
  margin: 0 auto;
}
h1 {
  font-size: 4em;
  font-weight: bold;
}
h3 {
  font-size: 1.1em;
}
p {font-size: 1em}
#args-form {
  font-size: 1em;
  width: 430px;
  user-select: none;
  text-align: right;
  margin: 0 auto 20px auto;
  width: 256px;
}
input, button, select {
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
}
.author {
  position: fixed;
  width: 100%;
  background-color: rgba(0,0,0,0.85);
  color: #fff;
  top: 0;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8em;
}
canvas {
  margin-bottom: 30px;
}

@media only screen and (min-width: 0px) {
  main { width: 300px }
}
@media only screen and (min-width: 650px) {
  main { width: 600px }
}

